@media (max-width: 768px) {
    #logo {
        width: 250px;
        height: auto;
        margin-right: 1rem;
    }

    #logo img {
        width: 315px;
    }

    #menu {
        display: none;
    }

    #hamburger-menu {
        display: flex;
    }

    #menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 8rem;
        right: 0;
        background-color: #b40036;
        padding: 3rem;
        z-index: 1000;
    }

    #menu ul {
        flex-direction: column;
        height: 250px;
    }

    #menu ul li {
        margin: 1rem 0;
    }

    body h1 {
        font-size: 1.5rem !important;
    }

    .destaque {
        display: flex;
        flex-direction: column;
        height: 350px;
        padding: 1rem;
    }

    .destaque .inform p {
        font-size: 1.1rem;
        text-align: center;
        max-width: 85%;
    }

    .historia .container1 {
        margin-top: -10px;
        flex-direction: column;
    }

    .historia .container1 p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }

    .historia .container3 img {
        width: 85%;
        height: auto;
        margin-top: 50px;
    }

    .profissional .curriculo h3 {
        font-size: 1.2rem;
    }

    .profissional img {
        width: 180px;
        height: 180px;
    }

    .profissional .curriculo p {
        font-size: 1rem;
    }

    .protocol .container p {
        font-size: 1.1rem;
    }

    .protocol .container img {
        width: 342px;
        height: 330px;
    }

    .servicos .curved .container {
        padding-bottom: 10px;
    }

    .servicos .container .carrosel {
        width: 2453px;
        height: 211px;
        gap: 16px;
    }

    .form {
        margin-top: 0;
        margin-bottom: -5px;
    }

    .endHora .container img {
        width: 35px;
    }

    .endHora .container p {
        font-size: 1rem;
    }

    .redes-sociais .curved {
        height: auto;
        padding-bottom: 45px;
    }

    .redes-sociais .social-icons {
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
    }

    .redes-sociais .social-icons a {
        flex-direction: column;
        gap: 10px;
    }

    .redes-sociais .social-icons img,
    .redes-sociais .social-icons #whats img {
        width: 60px;
    }

    .redes-sociais .social-icons p {
        font-size: 1rem;
        margin-left: 0;
        padding: 5px;
    }

    .redes-sociais #insta p {
        margin-top: 10px;
    }

    .voltar-topo {
        bottom: 8rem;
        left: 1rem;
    }

    .whatsContato {
        bottom: 7.5rem;
        right: 1rem;
    }

    footer {
        font-size: 0.9rem;
        text-align: center;
    }
}

@media (max-width: 480px) {

    body {
        font-size: 0.9rem;
        padding: 0;
        margin: 0;
    }

    header,
    .menu,
    .main,
    footer {
        padding: 10px;
    }

    .menu,
    .main,
    footer {
        width: 100%;
        margin: 0 auto;
    }

    .menu ul {
        flex-direction: column;
        text-align: center;
    }

    .menu ul li {
        margin-bottom: 10px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .main h1 {
        font-size: 1rem;
        text-align: center;
    }

    .main p {
        font-size: 0.9rem;
        line-height: 1.5;
    }

    form input,
    form textarea {
        width: 100%;
        margin-bottom: 10px;
    }

    .form {
        margin-top: 0;
        margin-bottom: -10px;
    }

    .endHora {
        padding: 40px 0px 21px;
    }

    .voltar-topo {
        bottom: 4.5rem;
        left: 1rem;
    }

    .whatsContato {
        bottom: 4rem;
        right: 1rem;
    }

    footer {
        font-size: 0.8;
        text-align: center;
    }
}